# IntelliJ / Android Studio
*.iml
.idea/

# Gradle
.gradle/
.gradle-user-home/
**/build/

# Local machine config
local.properties

# Native build stuff
.externalNativeBuild/
.cxx/

# Misc
.DS_Store
captures/
.kotlin/